In [ ]:
# set digunakan untuk menghapus duplikat

In [1]:
x = [1,1,1,1,2,2,2,4,4,6,4,4,4,5,5,3,3,3,3]

set(x)

{1, 2, 3, 4, 5, 6}

In [22]:
# break, continue, pass
x = [1,2,3,4,5,6]

for i in x:
    if i == 3:
        break
    print(i)

1
2

In [23]:
for i in x:
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [24]:
for i in x:
    if i == 3:
        pass
    print(i)

1
2
3
4
5
6

In [35]:
# splitt
import re

x = 'a,a,a.a.a.a,a,a.a'

y = re.split('[,|.]',x)
type(y)

list

In [42]:
x = '12345'
[int(i) for i in x]

[1, 2, 3, 4, 5]

In [47]:
from datetime import date

numbs = input()
today = date.today()
tahun = int(numbs[10:12])

if int(numbs[6:8]) < 40:
    jenkel = "Pria"
elif int(numbs[6:8]) > 40:
    jenkel = "Wanita"
    
if int(numbs[8]) == 0:
    bulan = int(numbs[9])
elif int(numbs[8]) == 1:
    bulan = int(numbs[8:10])

if tahun > 23:
    umur = today.year - (tahun + 1900)
    if today.month < bulan:
        umur -= 1
else:
    umur = today.year - (tahun + 2000)
    if today.month < bulan:
        umur -= 1

print("Jenis Kelamin : ", jenkel) 
print("Umur : ",umur ,"Tahun")

3273122003980007
Jenis Kelamin :  Pria
Umur :  24 Tahun

In [3]:
i = 5
while i < 10:
    print(i)
    i+= 1

5
6
7
8
9